<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
                 ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} %-5p [%c{4}:%M] %m%n</pattern>
        </encoder>
    </appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./log/pdv-status.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>./log/pdv-status.%d{yyyy-MM-dd}.log</fileNamePattern>
	
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} %-5p [%c{4}:%M] %m%n</pattern>
		</encoder>
	</appender>

	<logger name="org.reflections.Reflections" level="OFF"/>
	
    <root level="DEBUG">
        <appender-ref ref="FILE" />
    </root>
</configuration>